
 <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/home">
            <span class="glyphicon glyphicon-send"></span>
                    &nbsp <b>DESIGNERS & GEEKS</b></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
               <li><a href="/home"><b>Home</b></a></li>  

                <li class="dropdown" class="active">
                   <a href="#" class="dropdown-toggle" id="dLabel" data-toggle="dropdown" role="button"><b>Products</b></a>
                   <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                          <li><a href="#">
                           <span class="glyphicon glyphicon-phone"></span>
                            Mobile</a>
                          </li>

                          <li class="active"><a href="/bigdata">
                           <span class="glyphicon glyphicon-cloud"></span>
                            Big Data</a>
                          </li>

                           <li><a href="/iotpage">
                           <span class="glyphicon glyphicon-globe"></span>
                             IoT</a>
                          </li>
                   </ul>
                </li>

                <li class="dropdown" class="active">
                   <a href="#" class="dropdown-toggle" id="dLabel" data-toggle="dropdown" role="button"><b>About Us </b></a>
                   <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                          <li><a href="/management">
                           <span class="glyphicon glyphicon-briefcase"></span>
                            Management</a>
                          </li>

                          <li><a href="#">
                           <span class="glyphicon glyphicon-saved"></span>
                            Code of Conduct</a>
                          </li>

                          <li><a href="#">
                           <span class="glyphicon glyphicon-stats"></span>
                            Business process</a>
                          </li>

                         <li><a href="/locations">
                           <span class="glyphicon glyphicon-phone"></span>
                            Locations</a>
                          </li>

                          <li class="divider"></li>

                           <li><a href="/contactus">
                           <span class="glyphicon glyphicon-envelope"></span>
                            Contacts</a>
                          </li>                  
                   </ul>
                </li>

                <li><a href="/blogpage"><b>Blogs</b></a></li>
          </ul>
        </div>
      </div>
    </nav>
    
    

    


    
